/*
SKIN NAME: bluered
DESCRIPTION: Bereit zum öffentlichen Beta-Test.
VERSION: 1.0b
AUTHOR: Pascal Lotzin
AUTHOR URI: http://penguin-design.de
TEMPLATE: sandbox
*/

@import url('lib/reset.css');
@import url('lib/typo.css');


#access { display: none; }


/* LAYOUT
============================================================================ */

div#wrapper {
	float: left;
	width: 70em;
}
div#header,
div.sidebar { 
	width: 20em; 
	padding: 2em;
}
div#container {
	width: 40em;
	float: right;
	overflow: hidden;
	margin-top: -4em;
}
div#content {	overflow: hidden; }
div#footer {
	margin-left: 30em;
	clear: both;
	width: 40em;
}
#secondary.sidebar { padding-top: 0; }



/* SIDEBAR
============================================================================ */

div.sidebar ul { list-style-type: none; }



/* DESIGN
============================================================================ */

.home .meta-sep, 
.home .entry-meta .cat-links { display: none; }
.entry-content { margin-top: 1.5em; }



/* TYPO
============================================================================ */

a { text-decoration: none; }
a:hover { text-decoration: underline; }
h2 { font-family: Georgia, Times, "Times New Roman", serif; }
.sidebar .widgettitle { font-family: Georgia, Times, "Times New Roman", serif; }
.entry-date abbr.published {
	font-family: Georgia, Times, "Times New Roman", serif;
	border-bottom: 0 !important;
	text-decoration: none !important;
}



/* COLOR
============================================================================ */

body { color: #333; }
a { color: #000; }
div#wrapper { background: left url('bluered/bg_wrapper.jpg') repeat-y; }
#header, 
#header a,
.sidebar { color: #fff; }
.sidebar a { 
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}